.hero-img {
    width: 100vw;
    height: 90vh;
    background-image: url("../../assets/images/girl.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position-y: center;
  }
  .border-box {
    padding: 5px;
    border: 1px solid #8f4219a9;
  }

  .about-us {
    width: 70%;
    height: 20%;
    margin-bottom: 40px;
    margin: 20px auto;
    border: 1px solid rgba(87, 87, 87, 0.404);
    padding: 3%;
  }

  .heading {
    /* align-content: center; */
  }
  .text {

  }
