.title-contact {
    font-family: baskerville;
    font-weight: 600;
    font-size: 72px;
    color: #8f4319;
    text-align: center;
}

.heading-contact {
    font-family: baskerville;
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
		text-align:center;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, input[type=email] ~ label, input[type=phone] ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}


input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #eedcd6;
    color: black;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}


.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #8f4319;
    color: white;
    font-family: baskerville;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 20%;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.contact-page {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    min-height: 100vh;
}

.middle-input-container {
    display: flex;
    justify-content: space-between;
}

.email-input, .phone-number-input {
    width: 48%;
}