.main-nav,
.footer-nav {
  min-width: 35%;
  display: flex;
  justify-content: space-between;
  font-family: copperplate;
}

@font-face {
  font-family: copperplate;
  src: url("../../assets/fonts/Copperplate.ttc");
}

.main-nav a,
.footer-nav a {
  text-decoration: none;
  color: #8f4319;
  margin: 0 10px;
  transition: color 0.3s linear;
  text-align: center;
  text-transform: uppercase;
}
.nav-logo {
  position: absolute;
  left: 0;
  top: 20px;
}
.logo {
  width: calc(50px + 3vmin);
  height: calc(30px + 3vmin);
}
.main-nav a.active,
.footer-nav a.active {
  color: #2f2f2f;
}

.main-nav a:hover,
.footer-nav a:hover {
  color: black;
  transition: color 0.1s linear;
}
.nav-icon {
  color: rgba(0, 0, 0, 0.644);
  right: 170px;
  position: absolute;
  font-size: 4vmin;
}