.product-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 70%;
  margin: 0 auto;
  align-content: center;
}
.product-content {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.192);
  align-items: center;
  padding: 1vmin;
  background-color: #8f421933;
  position: relative;
  padding-bottom: 60px;
}
.product-container-two {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  align-content: center;
  margin: 20px auto;
  align-content: center;
  border: 1px solid rgba(87, 87, 87, 0.404);
  padding: 3%;
}
.shipping-description {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
}
.quantity-selector {
  margin-top: 20px;
}
.backButton {
  text-align: right;
  font-family: copperplate;
  font-size: 15px;
  padding: 10px 5px;
  color: #8f42198c;
  transition: all 0.5s;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: all 0.3s;
  text-decoration: none;
}

.backButton:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.backButton::after {
  content: "";
  transform-origin: center;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.192);
  background-color: #8f42198c;
  transform: scale(1.5, 1.5);
}
.backButton:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.backButton:hover {
  color: #000000;
}

.size {
  text-align: right;
  font-family: copperplate;
  font-size: 15px;
  padding: 10px 5px;
  color: #8f42198c;
  transition: all 0.5s;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  outline: none;
  
}

.size.active::before, .size:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.size::after {
  content: "";
  transform-origin: center;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.192);
  background-color: #8f42198c;
  transform: scale(1.5, 1.5);
}
.size.active::after, .size:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.size.active, .size:hover {
  color: #000000;
}
.button-container {
  position: absolute;
  bottom: 10px;
  right: 40%;
}

@media only screen and (min-width: 768px) {
  .product-container {
    width: 70%;
    flex-direction: row;
  }

  .product-content {
    width: 50%;
    padding-bottom: 0;
  }
  .button-container {
    position: absolute;
    bottom: 5px;
    right: 20%;
  }
}
.shippingList {
  margin-bottom: 30px;
  margin-top: 70px;
}
.add-container {
  margin-top: 30px;
  margin-bottom: 50px;
}
.add-item {
  text-align: right;
  font-family: copperplate;
  font-size: 20px;
  padding: 10px 5px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
  position: relative;
  background-color: #8f42198c;
  z-index: 1;
  transition: all 0.3s;
  text-decoration: none;
}

.add-item:disabled {
  filter: grayscale(100%);
}

.add-item:not([disabled]):hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.add-item::after {
  content: "";
  transform-origin: center;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.192);
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.5, 1.5);
}
.add-item:not([disabled]):hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.add-item:not([disabled]):hover {
  color: #000000;
}
