.App {
  text-align: center;
  min-height: 100vh;
  font-family: baskerville;
}

.App-header,
.App-footer {
  background-color: #eedcd6;
  height: 20vh;
  max-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-footer {
  width: 100vw;
  position: relative;
  justify-content: flex-end;
}

@font-face {
  font-family: baskerville;
  src: url("./assets/fonts/Baskerville.ttc");
}
@font-face {
  font-family: sacramento;
  src: url("assets/fonts/Sacramento/Sacramento-Regular.ttf");
}

@media only screen and (max-width: 768px) {
  body {
    background: white;
  }
.App-header {
  font-family: baskerville;
  background-color: #eedcd6;
}
.App {
  background-color: white;
}
.App-footer {
  width: 100vw;
  position: relative;
  justify-content: flex-end;
}
}
