.App {
  text-align: center;
  min-height: 100vh;
}

.App-header,
.App-footer {
  background-color: #eedcd6;
  height: 20vh;
  max-height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
}
